---
type Props = {
  title: string;
};
const { title } = Astro.props;
---

<section
  class="flex items-center border-b-2 border-primary/10 p-1 mb-4"
>
  <h1 class="text-xl font-bold capitalize">{title}</h1>
</section>
