---
import type { Link } from "~/lib/types";

type Props = {
  item: Link;
};
const currentPath = Astro.url.pathname;
const { item } = Astro.props;

function isActive(item: Link, currentPath: string) {
  const segment = currentPath.split("/")[2];
  return (
    (item.text === "Home" && currentPath === "/") ||
    (item.text === "Articles" &&
      segment !== undefined &&
      !isNaN(Number(segment)) &&
      Number(segment) >= 1) ||
    (item.text !== "Articles" &&
      currentPath.split("/").includes(item.text.toLocaleLowerCase()))
  );
}

function formatHref(href: string) {
  return href === "/" ? "/" : `${href}/1`;
}
---

<li
  class:list={[
    "relative after:absolute after:-bottom-2 after:left-0 after:h-[2px] after:w-full after:transition-all after:duration-300",
    isActive(item, currentPath)
      ? "after:bg-base-content pointer-events-none"
      : "after:bg-transparent",
  ]}
>
  <a href={formatHref(item.href)} aria-label={item.text}>{item.text}</a>
</li>
