---
import Moon from "~/assets/svgs/moon.astro";
import Sun from "~/assets/svgs/sun.astro";
---

<label class="btn btn-ghost btn-circle swap swap-rotate" for="theme-controller">
  <input
    type="checkbox"
    class="theme-controller"
    value="dark"
    name="theme-controller"
    id="theme-controller"
  />

  <Sun />
  <Moon />

  <span class="sr-only">Toggle theme</span>
</label>

<script is:inline>
  // Function to apply the initial theme and set the checkbox state
  function applyTheme() {
    const theme = localStorage.getItem("astro-theme") || "light"; // Default to light theme
    const themeController = document.querySelector(".theme-controller");

    // Update the checkbox state and apply the theme
    if (theme === "dark") {
      themeController.checked = true;
      document.documentElement.setAttribute("data-theme", "dark");
    } else {
      themeController.checked = false;
      document.documentElement.setAttribute("data-theme", "light");
    }
  }

  // Add event listener to toggle theme when the checkbox is clicked
  function handleThemeToggle(event) {
    const isDark = event.target.checked;
    const newTheme = isDark ? "dark" : "light";
    localStorage.setItem("astro-theme", newTheme);
    document.documentElement.setAttribute("data-theme", newTheme);
  }

  document.addEventListener("astro:page-load", () => {
    applyTheme();
    const themeController = document.querySelector(".theme-controller");
    themeController.addEventListener("change", handleThemeToggle);
  });

  // Apply theme immediately on script execution
  applyTheme();
</script>
