---
import { getEntry } from "astro:content";
import AuthorCard from "~/components/cards/authorCard.astro";
import ListLayout from "~/layouts/list.astro";
import { authorsHandler } from "~/lib/handlers/authors";

const entry = await getEntry("views", "authors");

if (!entry) {
  return Astro.redirect("/404");
}

const authors = authorsHandler.allAuthors();

const [HEADER] = entry.data.blocks;
---

<ListLayout header={HEADER.title} entry={entry}>
  <!-- <section role="alert" class="alert alert-info mb-4 bg-info/60">
    <Info size="16" />
    <span>{ATTENTION.description}</span>
  </section> -->
  <section class="flex-1">
    <ul class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6 md:gap-4">
      {authors.map((author) => <AuthorCard author={author} />)}
    </ul>
  </section>
</ListLayout>
