---
import AuthorCard from "~/components/cards/authorCard.astro";
import HeaderSection from "./headerSection.astro";
import { authorsHandler } from "~/lib/handlers/authors";

const authors = authorsHandler.limitAurhors(6);
---

<section class="container py-12" data-pagefind-ignore="all">
  <HeaderSection title="Autores" link_title="Ver todo" link_url="/authors" />
  <ul
    class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-6 md:gap-4 mt-4 list-none"
  >
    {authors.map((author) => <AuthorCard author={author} />)}
  </ul>
</section>
