---
import MainHeadline from "~/components/cards/mainHeadline.astro";
import SubHeadlineCard from "~/components/cards/subHeadlineCard.astro";
import { articlesHandler } from "~/lib/handlers/articles";

const bigHeadline = articlesHandler.mainHeadline();
const smallHeadlines = articlesHandler.subHeadlines();
---

<section
  class="grid grid-cols-1 gap-6 md:grid-cols-10 container pt-4 md:pt-8"
  data-pagefind-ignore="all"
>
  <div class="col-span-1 md:col-span-6">
    <MainHeadline article={bigHeadline} />
  </div>
  <div class="col-span-1 md:col-span-4">
    {
      smallHeadlines.map((article, index) => (
        <SubHeadlineCard
          article={article}
          isFirst={index === 0}
          isLast={index === smallHeadlines.length - 1}
        />
      ))
    }
  </div>
</section>
