---
import ArrowRight02 from '~/assets/svgs/arrow-right-02.astro';

type Props = {
    title: string;
    link_title: string;
    link_url: string;
}

const { title, link_title, link_url } = Astro.props;
---

<div class="flex items-center justify-between" data-pagefind-ignore="all">
    <h2 class="text-xl font-bold">{title}</h2>
    <a href={link_url} class="flex items-center gap-1 text-sm text-base-content/80 group">
        <span class="group-hover:text-primary transition-all" >{link_title}</span>
        <span class="group-hover:translate-x-0.5 transition-all group-hover:text-primary" ><ArrowRight02/></span>
    </a>
</div>