---
import NewsCard from "~/components/cards/newsCard.astro";
import HeaderSection from "./headerSection.astro";
import { articlesHandler } from "~/lib/handlers/articles";

const articles = articlesHandler.allArticles();
---

<section class="container pt-12 pb-0 space-y-4" data-pagefind-ignore="all">
  <HeaderSection
    title="Últimas Noticias"
    link_title="Ver todo"
    link_url="/articles"
  />
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 gap-y-6 md:grid-rows-2">
    {
      articles
        .slice(0, 6)
        .map((article, index) => <NewsCard article={article} index={index} />)
    }
  </div>
</section>
