<section class="bg-base-content text-base-100 relative w-full h-8" data-pagefind-ignore="all">
  <div class="absolute z-10 bg-info h-full top-0 left-0 flex items-center px-2">
    <h2 class="text-sm font-sans font-semibold">
      <span class="hidden lg:inline">Breaking News</span>
      <span class="inline lg:hidden">News</span>
    </h2>
  </div>
</section>
