body {
	--sb-track-color: #020617;
	--sb-thumb-color: #4338ca;
	--sb-size: 10px;
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

/*  */

footer {
	text-align: center;
}

.img-shadow {
	@apply shadow-[0_4px_8px_rgba(204,162,162,0.1),0_8px_16px_rgba(197,173,173,0.15),0_16px_24px_rgba(0,0,0,0.1),0_0_10px_rgba(173,216,230,0.3)] rounded-xl hover:shadow-[0_8px_12px_rgba(0,0,0,0.1),0_12px_24px_rgba(0,0,0,0.2),0_20px_32px_rgba(0,0,0,0.15),0_0_15px_rgba(173,216,230,0.4)] hover:transition-all hover:duration-[0.3s] hover:ease-[ease];
}