---
import BaseLayout from "@/layouts/BaseLayout";
import authorImage from '../assets/images/Author.webp';
---


<BaseLayout title='Aviso Legal'>
    <section class="about-section flex justify-center items-center py-20">
        <div class="container mx-auto px-4 flex flex-col md:flex-row items-center gap-8">
          <!-- Imagen o ilustraci칩n del lado izquierdo -->
          <div class="w-full md:w-1/2">
            <img src={authorImage.src}  alt="Imagen del autor" class="w-10/12 h-auto rounded-lg shadow-lg img-shadow" />
          </div>
          <!-- Contenido textual del lado derecho -->
          <div class="w-full md:w-1/2">
            <h1 class="text-4xl font-bold text-gray-900 dark:text-white leading-tight">
              Hola 九껊잺 Soy Carlos Fajardo, un programador autodidacta.
            </h1>
            <p class="mt-4 text-gray-600 dark:text-gray-300">
               A trav칠s de este blog, comparto recursos y consejos para quienes quieran aprender desarrollo web por su cuenta. Mi objetivo es ayudar a que m치s personas adquieran habilidades en programaci칩n mediante tutoriales, gu칤as y trucos pr치cticos. Aqu칤 encontrar치s m치s que simples gu칤as t칠cnicas. Mi objetivo es motivar a quienes se inician en la programaci칩n, brindando apoyo y recursos que les ayuden a superar obst치culos y a desarrollar confianza en sus habilidades mientras avanzan en su camino hacia el desarrollo web.
            </p>
            <p class="mt-4 text-gray-600 dark:text-gray-300">
              Quiero inspirar a otros a aprender por s칤 mismos, demostrando que con las herramientas adecuadas es posible dominar el desarrollo web sin necesidad de costosos estudios. 춰Acomp치침ame en este camino hacia una carrera exitosa en programaci칩n! 游
            </p>
            <button class="mt-6 bg-indigo-700 hover:bg-indigo-600 text-white font-bold py-2 px-6 rounded-md">
              <a href="/contact">Cont치ctame</a>
            </button>
          </div>
        </div>
      </section>
</BaseLayout>