---
import BaseLayout from '@/layouts/BaseLayout'
---

<BaseLayout title='Cookies'>
	<main class='max-w-7xl mx-auto p-4'>
		<head>
			<meta name='robots' content='noindex' />
		</head>
		<h2 class='text-3xl font-bold my-4'>Política de Cookies</h2>
		<div class='text-left'>
			Si quieres saber más sobre el uso de cookies que realiza este sitio web <strong
				>Un Simple Programador</strong
			>, estás en el lugar indicado. A continuación, vamos a explicarte qué son exactamente las
			cookies; qué tipo de cookies utilizamos y para qué; y cómo puedes ejercer tu derecho para
			configurar tu navegador y desestimar el uso de cualquiera de ellas. <br /><br />
			 Eso sí, debes saber, que, si decides no utilizar algunas cookies, este sitio web puede no
			funcionar perfectamente, afectando a tu experiencia de usuario.<hr /><br />

			<h2 class='text-3xl font-bold my-4'>Qué es una Cookie</h2>
			 Una cookie es un fichero que se descarga en tu ordenador al acceder a determinadas páginas
			web o blogs.<br /><br />

			 Las cookies permiten a esa página, entre otras cosas, almacenar y recuperar información sobre
			tus hábitos de navegación o de tu equipo, y dependiendo de la información que contengan y de la
			forma en que utilices tu equipo, pueden utilizarse para reconocerte.<br /><br />

			 El navegador del usuario memoriza cookies en el disco duro solamente durante la sesión actual
			ocupando un espacio de memoria mínimo y no perjudicando al ordenador. Las cookies no contienen
			ninguna clase de información personal específica, y la mayoría de las mismas se borran del disco
			duro al finalizar la sesión de navegador (las denominadas cookies de sesión).<br /><br />

			 La mayoría de los navegadores aceptan como estándar a las cookies y, con independencia de las
			mismas, permiten o impiden en los ajustes de seguridad las cookies temporales o memorizadas.<br
			/><br />

			 Las cookies se asocian al navegador, no a la persona, por lo que no suelen almacenar información
			sensible sobre ti como tarjetas de crédito o datos bancarios, fotografías o información personal,
			etc. Los datos que guardan son de carácter técnico, estadísticos, preferencias personales, personalización
			de contenidos, etc. <hr /><br />

			<h2 class='text-3xl font-bold my-4'>Tipos de Cookies</h2>
			 Para poder ofrecerte una mejor experiencia de usuario, obtener datos analíticos, almacenar y
			recuperar información sobre tus hábitos de navegación o de tu equipo y desarrollar su
			actividad, este sitio web <strong>Un Simple Programador</strong>, utiliza cookies propias y de
			terceros.<br /><br />

			<strong>¿Qué tipos de cookies utiliza este sitio web?</strong><br /><br />

			<i>Cookies técnicas:</i> Son aquellas que permiten al usuario la navegación a través de una
			página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios
			que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos,
			identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que
			integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de
			inscripción o participación en un evento, utilizar elementos de seguridad durante la
			navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a
			través de redes sociales.<br /><br />

			<i>Cookies de personalización:</i> Son aquellas que permiten al usuario acceder al servicio
			con algunas características de carácter general predefinidas en función de una serie de
			criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a
			través del cual accede al servicio, la configuración regional desde donde accede al servicio,
			etc.<br /><br />

			<i>Cookies de análisis:</i> Son aquellas que bien tratadas por nosotros o por terceros, nos
			permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico
			de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza tu
			navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que
			le ofrecemos.<br /><br />

			<i>Cookies publicitarias:</i> Son aquellas que, bien tratadas por nosotros o por terceros, nos
			permiten gestionar de la forma más eficaz posible la oferta de los espacios publicitarios que
			hay en la página web, adecuando el contenido del anuncio al contenido del servicio solicitado
			o al uso que realice de nuestra página web. Para ello podemos analizar tus hábitos de
			navegación en Internet y podemos mostrarte publicidad relacionada con tu perfil de navegación.<br
			/><br />

			<i>Cookies de publicidad comportamental:</i> Son aquellas que permiten la gestión, de la forma
			más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en
			una página web, aplicación o plataforma desde la que presta el servicio solicitado. Estas
			cookies almacenan información del comportamiento de los usuarios obtenida a través de la
			observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil
			específico para mostrar publicidad en función del mismo.<br /><br />

			<i>Cookies de terceros:</i> Esta web <strong>Un Simple Programador</strong> puede utilizar
			servicios de terceros que, por cuenta de Google, recopilarán información con fines
			estadísticos, de uso del sitio por parte del usuario y para la prestación de otros servicios
			relacionados con la actividad del sitio web y otros servicios de Internet.<br /><br />

			 En particular, este sitio web utiliza Google Analytics, un servicio analítico de web prestado
			por Google, Inc. con domicilio en los Estados Unidos con sede central en 1600 Amphitheatre Parkway,
			Mountain View, California 94043. Para la prestación de estos servicios, Google utiliza cookies
			que recopilan la información, incluida la dirección IP del usuario, que será transmitida, tratada
			y almacenada por Google en los términos fijados en la web Google.com. Esto incluye la posible transmisión
			de dicha información a terceros por razones de exigencia legal o cuando dichos terceros procesen
			la información por cuenta de Google. <hr /><br />

			<h2 class='text-3xl font-bold my-4'>Gestionar y Rechazar el uso de las Cookies</h2>

			 En cualquier momento, puedes adaptar la configuración del navegador para gestionar, desestimar
			el uso de cookies y ser notificado antes de que se descarguen.<br /><br />

			 También puedes adaptar la configuración de forma que el navegador rechace todas las cookies, o
			únicamente las cookies de terceros. Y también puedes eliminar cualquiera de las cookies que ya
			se encuentren en tu equipo.<br /><br />

			 Para esto, debes tener en cuenta que tendrás que adaptar por separado la configuración de cada
			navegador y equipo que utilices ya que, como te hemos comentado anteriormente las cookies se asocian
			al navegador, no a la persona.<br /><br />

			<a
				class='text-blue-500 hover:underline'
				href='https://support.google.com/chrome/answer/95647?hl=es-419'>Google Chrome</a
			><br /><br />

			<a
				class='text-blue-500 hover:underline'
				href='https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-10'
				>Internet Explorer</a
			><br /><br />

			<a
				class='text-blue-500 hover:underline'
				href='https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we'
				>Mozilla Firefox</a
			><br /><br />

			<a
				class='text-blue-500 hover:underline'
				href='https://support.apple.com/es-es/HT201265'
				>Safari</a
			>
		</div>
	</main>
</BaseLayout>
