<form action="https://api.web3forms.com/submit" method="POST" id="contact-form" class="space-y-4">
      <input type="hidden" name="access_key" value="02bc59bd-f1d4-4654-bed8-513a53a1e24d" />
  
      <div>
        <label for="name" class="block text-sm font-medium text-gray-700 dark:text-gray-500">
          Nombre
        </label>
        <input
          type="text"
          id="name"
          name="name"
          required
          placeholder="Tu nombre"
          class="w-full px-4 py-3 mt-1 border rounded-md bg-white text-gray-900 dark:bg-gray-800 dark:text-gray-100 border-gray-300 dark:border-gray-600 placeholder-gray-500 dark:placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:outline-none"
        />
      </div>
  
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700 dark:text-gray-500">
          Correo Electrónico
        </label>
        <input
          type="email"
          id="email"
          name="email"
          required
          placeholder="Ingresa tu correo"
          class="w-full px-4 py-3 mt-1 border rounded-md bg-white text-gray-900 dark:bg-gray-800 dark:text-gray-100 border-gray-300 dark:border-gray-600 placeholder-gray-500 dark:placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:outline-none"
        />
      </div>
  
      <div>
        <label for="message" class="block text-sm font-medium text-gray-700 dark:text-gray-500">
          Mensaje
        </label>
        <textarea
          id="message"
          name="message"
          required
          placeholder="Escribe tu mensaje aquí..."
          class="w-full px-4 py-3 mt-1 border rounded-md bg-white text-gray-900 dark:bg-gray-800 dark:text-gray-100 border-gray-300 dark:border-gray-600 placeholder-gray-500 dark:placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:outline-none h-36"
        ></textarea>
      </div>
  
      <button
        type="submit"
        class="w-full bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition"
      >
        Enviar Mensaje
      </button>
  
      <p id="form-response" class="text-center text-sm text-gray-600 dark:text-gray-400 mt-3"></p>
    </form>
  
    <div class="flex flex-col items-center text-sm text-gray-600 dark:text-gray-400 space-y-1">
        <p class="leading-tight">Cra 11 #98-07 Bogotá D,C.</p>
        <p class="leading-tight">
          Email: <a href="mailto:hello@stablotemplate.com" class="text-blue-500 hover:underline">unsimpleprogramador.blog@gmail.com</a>
        </p>
        <p class="leading-tight">
          Teléfono: <a href="tel:+19874587899" class="text-blue-500 hover:underline">+57 320 202 8049</a>
        </p>
      </div>
  </div>
  