---
const today = new Date()
---

<footer class='flex flex-col justify-center items-center w-full px-16 h-28 border-t-2'>
	<div class='flex space-x-4 mb-2 legals'>
		<a href='/aviso-legal' class='text-blue-500 hover:underline'>Legal</a>
		<a href='/politica-privacidad' class='text-blue-500 hover:underline'>Privacidad</a>
		<a href='/cookies' class='text-blue-500 hover:underline'>Cookies</a>
	</div>
	<div class='copy'>
		&#128574; {today.getFullYear()} CarlDesigner. Casi todos los derechos reservados.
	</div>
</footer>
