---
import { NAVIGATION_LINKS } from "~/lib/config";
import NavbarItem from "../bases/navbar-item.astro";
---

<nav class="navbar-center hidden lg:flex container">
  <ul class="menu menu-sm menu-horizontal px-1 mx-auto">
    <NavbarItem item={{ href: "/", text: "Home" }} />
    <NavbarItem item={{ href: "/articles", text: "Articulos" }} />
    {NAVIGATION_LINKS.map((item) => <NavbarItem item={item} />)}
  </ul>
</nav>
