---
import Github from "~/assets/svgs/github.astro";
import Search01 from "~/assets/svgs/search-01.astro";
import MenuDropdown from "./menu-dropdown.astro";
import { SITE } from "~/lib/config";
import ThemeController from "../bases/theme-controller.astro";
---

<div class="navbar bg-base-100 border-b">
  <div class="navbar-start lg:w-1/2">
    <MenuDropdown />
    <a class="text-xl px-2 text-nowrap lg:hidden" href="/">{SITE.title}</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <a class="text-xl px-2" href="/">{SITE.title}</a>
  </div>
  <div class="navbar-end">
    <ThemeController />
    <a class="btn btn-ghost btn-circle" href="/search" aria-label="Search">
      <Search01 />
    </a>
    <a
      class="btn btn-ghost btn-circle"
      href={SITE.github}
      target="_blank"
      aria-label="GitHub"
    >
      <Github />
    </a>
  </div>
</div>
