---
import { SITE } from "~/lib/config";
import Head from "~/components/bases/head.astro";
import Header from "~/components/shared/header.astro";
import CookieBanner from "../components/CookieBanner.astro";
import Footer from "~/components/shared/footer.astro";
import type { Entry } from "~/lib/types";
import { getMeta } from "~/lib/utils/getMeta";

type Props = {
  entry: Entry;
};

const { entry } = Astro.props;

const meta = await getMeta(entry);
---

<!doctype html>
<html lang={SITE.locale} dir={SITE.dir}>
  <Head meta={meta} />
  <body class="flex flex-col">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
    <CookieBanner />

    <!-- codigo basura, remover cuando sea necesario -->
    <script>
			// Función para hacer scroll hasta el final del post de manera suave
			function scrollToBottom() {
				window.scrollTo({
					top: document.body.scrollHeight,
					behavior: 'smooth'
				})
			}

			// Función para recargar la página y hacer scroll automáticamente
			function autoRefresh() {
				// Hace scroll hasta el final
				scrollToBottom()

				// Configura la recarga automática después de un intervalo
				setTimeout(() => {
					window.location.reload()
				}, 10000) // 10000 ms = 10 segundos
			}

			// Ejecuta la función autoRefresh cuando el documento esté listo
			document.addEventListener('DOMContentLoaded', autoRefresh)
		</script>

  </body>
</html>

