---
import { SITE } from "~/lib/config";
import Head from "~/components/bases/head.astro";
import Header from "~/components/shared/header.astro";
import Footer from "~/components/shared/footer.astro";
import type { Entry } from "~/lib/types";
import { getMeta } from "~/lib/utils/getMeta";

type Props = {
  entry: Entry;
};

const { entry } = Astro.props;

const meta = await getMeta(entry);
---

<!doctype html>
<html lang={SITE.locale} dir={SITE.dir}>
  <Head meta={meta} />
  <body class="flex flex-col">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
