---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/TwSizeIndicator'
import EditBlog from '@/components/editBlog'
import CookieConsent from '@/components/CookieConsent'
const { title, description, image, articleDate } = Astro.props
---

<html lang='en' class='scroll-smooth'>
	<head>
		<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
		<ProviderTheme />
		<ProviderAnimations />
	</head>

	<body class='bg-white text-stone-950 dark:bg-[#020617] dark:text-white'>
		<main
			class='px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-0 antialiased md:max-w-6xl grid gap-12 mt-4 overflow-hidden md:overflow-visible'
		>
			<Header />
			<slot />
			<Footer />
			<CookieConsent />
		</main>
		<TwSizeIndicator />
		<EditBlog />
		<style>
			body {
				margin-left: calc(100vw - 100%); /* prevent layout shift */
			}
		</style>
			
			<!-- CODIGO BASURA SOLO PARA PRUEBAS ==>eliminar cuando no se necesite -->
		<!-- <script>
			// Función para hacer scroll hasta el final del post de manera suave
			function scrollToBottom() {
				window.scrollTo({
					top: document.body.scrollHeight,
					behavior: 'smooth'
				})
			}

			// Función para recargar la página y hacer scroll automáticamente
			function autoRefresh() {
				// Hace scroll hasta el final
				scrollToBottom()

				// Configura la recarga automática después de un intervalo
				setTimeout(() => {
					window.location.reload()
				}, 10000) // 10000 ms = 10 segundos
			}

			// Ejecuta la función autoRefresh cuando el documento esté listo
			document.addEventListener('DOMContentLoaded', autoRefresh)
		</script> -->
	</body>
</html>
